#Add the package name to your Astro project. 
#If it’s a Python package, add it to requirements.txt. 
#If it’s an OS-level package, add it to packages.txt. 
#The latest version of the package that’s publicly available is installed by default.

apache-airflow-providers-microsoft-azure
apache-airflow-providers-google